// color 
$premery: #202020;
$secondary: #121212;
$colorText: #FFFFFF;
$secondary-text:#DEDEDE;
$background:#1C1C1C;
$background-header: #0D0D0D;
$blue: #3137C9;
$grayText:#D2D2D2;
// font
$fontFamly:'Roboto Condensed',
sans-serif;
//size
$mainText:1.4rem;
$h1:1.8rem;
$link:1.2rem;
$sidebar-width:300px;